
.form__container{
    width: 90%;
    margin: auto;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.form__container-personal, .form__container-contacto, .form__container-mensaje, .form__container-lista {
    border: 1px solid #b6b6b6;
    padding: 20px;
    border-radius: 1rem;
    margin-top: 20px;
}
.form-buttom{
    padding: 20px 0;
}

.form__container-personal label{
    padding: 20px 0;
}

.form__container-mensaje label{
    padding: 10px 0;

}
.form__container-mensaje div{
    display: flex;
    flex-direction: column;
}
.form__container input{
    margin-left: 30px;
}