* {
    box-sizing: border-box !important;
    font-family: "Montserrat", sans-serif !important;
}

/* ocultar barra de scroll */
::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    background-color: rgb(255, 255, 255);
}

body,
div,
ul,
nav,
header,
footer,
a,
li,
label {
    margin: 0;
    padding: 0;
}


/* ------ HEADER */
.header {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    container-type: inline-size;
    container-name: header;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 0 20px rgb(63, 63, 63);
}

.header-logo {
    max-width: 100%;
    width: 100px;
    margin: 15px 30px;
}

.header__open-nav-button {
    color: #bf0000;
    font-size: 6rem;
    font-weight: 600;
    position: absolute;
    right: 30px;
}

.header__checkbox {
    display: none;
}

.header__nav {
    display: none;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    z-index: -1;
    background-color: #000000;
    padding: 0 !important;
    margin: 0 !important;

}

.header__checkbox:checked~.header__nav {
    display: flex;

}

.header__nav-list {
    display: flex;
    flex-direction: column;
    height: 40vh;
    padding: 0 !important;
    margin: auto;
    justify-content: space-around;
}

.header__nav-item {
    list-style: none;
}

.header__nav-item a {
    color: #ffffff;
    text-decoration: none;
}

.header__nav-item :is(:hover, :active) {
    color: #bf0000;
}



/* ------ MAIN------ */

.main__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* NOTICIAS */
.grid__container-item .grid__container-buttom {
    padding: 5px;
    background-color: #bf0000;
    color: #ffff;
    box-shadow: 3px 4px 0 0 #8a2a21;
    border-radius: 4px;
    text-decoration: none;
    transition: 1s;
}

.grid__container-buttom:hover {
    background-color: #000000;
    box-shadow: 3px 4px 0 0 #484848;


}

.grid__container-separator {
    background-image: url(/img/separator.png);
    opacity: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
    height: 200px;
    max-width: 100%;
    width: 100%;
    margin: auto;
}


/* DISCOS */
#disc-buttom {
    background-color: #880000;
    padding: 5px 10px;
    color: #ffff;
    text-decoration: none;
    transition: 1s;
    border-radius: 5px;
}

#disc-buttom:hover {
    background-color: #000000;
}









/* ------ QUERIES -------- */

/* HEADER */
@container header (min-width: 700px) {
    .header__nav {
        position: static;
        z-index: 1;
        height: auto;
        justify-content: space-between;
        width: auto;
        display: block;
    }

    .header__nav-list {
        flex-direction: row;
        height: auto;
        width: auto;
        gap: 30px;
        margin-right: 30px;
        font-size: 20px;
        z-index: 1;

    }

    .header__open-nav-button {
        display: none;
    }
}

/* ------ HEADER ENDS */



@media (max-width:700px) {
    .main__container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .main__container img {
        max-width: 100%;
        width: 100vw;
        box-shadow: 0 0 15px 0 #000000;
    }


    .main__container h1 {
        margin-top: 30px;
        color: #000000;
        font-size: 2rem;
        letter-spacing: 1rem;
        font-weight: 600;
    }

    .main__container p {
        font-size: 1rem;
    }

    /* GRID-NOTICIAS */

    .section__grid {
        display: flex;
        flex-direction: column;
        margin-top: 5rem;
        text-align: justify;
    }

    .section__grid h2 {
        font-size: 3rem;
        font-weight: 600;
        color: #000000;
        padding: 0 30px;
        border-radius: 10px;
    }

    .grid__container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 20px;
    }

    .grid__container img {
        max-width: 100%;
        width: 100vw;
        border-radius: 1rem;
        box-shadow: 0 0 15px #484848;
    }

    .grid__container-item {
        padding: 30px;
        border: 1px solid #dddddd;
    }

    .grid__container-buttom {
        padding: 20px;
    }

    .grid__container h3 {
        font-size: 2rem;
        margin: 20px 0;
    }

    .grid__container h4 {
        font-size: 1.3rem;
        color: #880000;
    }


    /* DISCOS */
    .section-discs {
        display: flex;
        flex-direction: column;
        text-align:justify ;
    }

    .section__discs h2 {
        font-size: 3rem;
        font-weight: 600;
        color: #000000;
        padding: 0 30px;
        border-radius: 10px;
    }

    .flex__container-discs {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        text-align: justify !important;
    }

    .container-discs {
        border: 1px solid #dddddd;
        border-radius: 1rem;
        padding: 20px;

    }

    .container-discs img {
        max-width: 100%;
        width: 100vw;
        border-radius: 1rem;
        box-shadow: 0 0 15px #484848;

    }

    .container-discs h3 {
        font-size: 2rem;
        font-weight: 600;
        margin: 30px;
        text-align: center;
    }

    .container-discs h4 {
        margin: 20px 0;
    }



    /* carusel */
    .carousel-title {
        font-size: 3rem !important;
        font-weight: 600;
        margin: 20px;
    }
    
    #carouselExampleIndicators img {
        border-radius: 1rem;
        max-width: 100%;
    }

}